{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "svelte3"
  ],
  "overrides": [
    {
      "files": ["*.svelte"],
      "processor": "svelte3/svelte3",
      "rules": {
        "unicorn/filename-case": ["error", {"case": "pascalCase"}]
      }
    }
  ],
  "ignorePatterns": "*.config.js",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:promise/recommended",
    "plugin:unicorn/recommended"
  ],
  "rules": {
    "import/no-unassigned-import": "off",
    "import/no-duplicates": "off",
    "unicorn/prefer-node-remove": "off",
    "unicorn/prevent-abbreviations": "off"
  }
}