# Drag.png
# DragHL.png
# Flick.png
# FlickHL.png
# Hold.png
# HoldEnd.png
# HoldHead.png
# Tap.png
# TapHL.png

# Effect.png
# Particle.png
# Pause.png
# Prefix.png
# Progress.png

# tap.wav
# flick.wav
# drag.wav

# skin.json
