body {
  margin: 0 auto;
  background-color: white;
  font-family: 'Exo Regular';
}

#player {
  padding: 0;
  margin: auto;
  display: block;
}

@font-face {
  font-family: "Exo Regular";
  src: url("./assets/font/Exo-Regular.otf") format("opentype");
}

/* @font-face {
  font-family: zcool;
  src: url("./assets/font/zcool.ttf") format("truetype");
} */

/* .ant-tabs-nav-container {
  height: auto !important;
} */
