.bx--accordion__content {
  padding-right: 1rem !important;
}

.bx--data-table--sticky-header {
  max-height: 500px !important;
}

body {
  font-family: 'Exo Regular';
}

@font-face {
  font-family: "Exo Regular";
  src: url("./assets/font/Exo-Regular.otf") format("opentype");
}
