body {
  margin: 0 auto;
  background-color: white;
}

#player {
  padding: 0;
  margin: auto;
  display: block;
}

@font-face {
  font-family: "Exo Regular";
  src: url("./assets/font/Exo-Regular.otf") format("opentype");
}
